#boards {
    grid-area: content;
    position: relative;

    min-height: 100vh;

    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: "tools boards";
}

/* Boards */

.boards-container {
    grid-area: boards;

    display: grid;
    grid-template-columns: repeat(1, minmax(565px, 1000px));
    align-items: flex-start;
    justify-content: center;
    gap: 1em;

    padding: var(--sp-3);
}

.board {
    padding: var(--sp-4) var(--sp-5);
    /* width: 700px; */
    /* max-width: 800px; */
    background-color: white;
    border-radius: 4px;
}

.board header {
    padding-bottom: 1em;
    margin-bottom: 1em;

    background-color: white;
    border-bottom: 1px solid var(--line);
}

.board header span {
    color: var(--gray);
}

.board .separator {
    grid-column: 1/6;

    height: 1px;
    margin: var(--sp-3) 0;
    background-color: var(--line);
}

/* Slots */

.slots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5em;

    padding: var(--sp-2) 0;
    background-color: white;
}

.slot {
    /* min-width: var(--slot-min-width); */
    min-height: var(--slot-min-height);
    background-color: var(--primary-light);
    border-radius: 4px;
}

/* Blocks */

.block {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    padding: var(--sp-2) var(--sp-3);

    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.block span {
    color: var(--gray);
    font-size: var(--fs-sm);
}

.block h4 {
    display: none;
    text-shadow: 0px 5px 10px #00000063;
}

.block .icon {
    color: var(--secodary);
    font-size: var(--fs-sm);
    margin-bottom: var(--sp-2);
}

.block .acronym {
    display: block;
    text-transform: uppercase;
}
/* Drag and Drop */

.slot.hide {
    display: none !important;
}

.slot.drag-over {
    border: 2px dashed var(--primary);
}

/* Conflicts */

.block.conflict {
    background-color: var(--danger);
}
