#boards {
    grid-area: content;
    position: relative;

    min-height: 100vh;

    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: "boards tools";
}

/* Boards */

.boards-container {
    grid-area: boards;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--board-min-width), var(--board-max-width)));
    grid-template-rows: min-content;

    align-items: center;
    justify-content: center;
    gap: 1em;

    padding: var(--sp-4);
}

.board {
    padding: var(--sp-5) var(--sp-6);
    /* width: 700px; */
    /* max-width: 800px; */
    background-color: white;
    border-radius: 4px;
}

.board-header {
    padding-bottom: 1em;
    margin-bottom: 1em;

    background-color: white;
    border-bottom: 1px solid var(--line);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-header .description span {
    color: var(--gray);
}

.board-header .menu {
    cursor: pointer;

    padding: var(--sp-4);

    color: gray;
    text-align: center;
    text-decoration: none;

    border-radius: 8px;

    display: flex;
    gap: 0.5em;
    justify-content: center;
}

.board-header .menu:hover {
    color: var(--primary);
    background-color: var(--primary-light);
}

/* Slots */

.slots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5em;

    padding: var(--sp-2) 0;
    background-color: white;
}

.slot {
    /* min-width: var(--slot-min-width); */
    min-height: var(--slot-min-height);
    background-color: var(--primary-light);
    border-radius: 4px;
}

/* Separator */

.board .separator {
    grid-column: 1/6;

    height: 1px;
    margin: var(--sp-4) 0;
    background-color: var(--line);
}

/* Blocks */

.block {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    padding: var(--sp-2) var(--sp-4);

    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.block span {
    color: var(--gray);
    font-size: var(--fs-sm);
}

.block .icon {
    color: var(--secodary);
    font-size: var(--fs-sm);
    margin-bottom: var(--sp-2);
}

/* Drag and Drop */

.slot.hide {
    display: none !important;
}

.slot.drag-over {
    border: 2px dashed var(--primary);
}

/* Conflicts */

.block.conflict {
    border: 2px solid #f79645;
}

.block.conflict .icon {
    color: #f79645;
}
