/* Style the list */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: var(--fs-md);
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    content: ">\00a0";
    color: #a1a8ca;
    padding: 8px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li {
    color: #a1a8ca;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li:last-child,
ul.breadcrumb li a:hover {
    color: var(--primary);
}
