.bg-polka {
    /* https://www.magicpattern.design/tools/css-backgrounds */
    background-color: #f3f9fe;
    opacity: 1;
    background-image: radial-gradient(#4361ee 2px, #f3f9fe 2px);
    background-size: 38px 38px;
}

.btn {
    cursor: pointer;

    padding: var(--sp-3);
    font-size: var(--fs-md);

    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;

    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.btn-primary {
    color: white;
    background-color: var(--primary);
}

.btn-secondary {
    color: white;
    background-color: var(--secondary);
}

.table {
    width: 100%;

    background-color: white;
    border-collapse: separate !important;
    border-spacing: 0;
    border: 1px solid var(--line);
    border-radius: 6px;

    overflow: hidden;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table th,
.table td {
    font-size: var(--fs-md);
    padding: var(--sp-3) var(--sp-4);
}

.table td {
    font-size: var(--fs-smd);
}

.table th {
    text-align: left;
    font-weight: normal;

    color: #96a3b3;
    background-color: #f9fafc;
    border-bottom: 1px solid var(--line);
}

.table th input[type="checkbox"],
.table td input[type="checkbox"] {
    margin-right: var(--sp-3);
}

.table tbody tr {
    cursor: pointer;
}

.table tbody tr:hover {
    background-color: #f9fafc;
}

.table tbody tr:not(:last-child) td {
    border-bottom: 1px solid var(--line);
}
