#sidebar {
    grid-area: sidebar;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: var(--sidebar-width);
    min-height: 100vh;

    background-color: white;
    border-right: 1px solid var(--line);
}

/* Wrapper */

#sidebar .wrapper {
    width: 100%;
}

/* Logo */

#sidebar .logo {
    display: flex;
    justify-content: center;

    height: var(--topbar-height);
    padding: 1em;
    margin-bottom: var(--sp-2);
    border-bottom: 1px solid var(--line);
}

#sidebar .logo .icon {
    padding: var(--sp-2);

    font-size: var(--fs-lg);
    color: white;
    background-color: var(--primary);
    border-radius: 12px;
}

/* Navigation */

#sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em 0;
}

#sidebar nav span {
    margin: var(--sp-4) 0 var(--sp-1) 0;

    color: var(--gray-light);
    font-size: 0.6em;
    text-transform: uppercase;
}

#sidebar a {
    min-width: 2.5em;
    padding: var(--sp-2);

    text-align: center;
    color: var(--gray);
    border-radius: 8px;
}

#sidebar a.active,
#sidebar a:hover {
    color: var(--primary);
    background-color: var(--primary-light);
}
