.progress-container {
    display: none;

    height: 4px;
    background-color: var(--gray-light);
}

.progress-container.show {
    display: block;
}

.progress-bar {
    width: 0%;
    height: 100%;

    opacity: 50%;
    animation: rainbow 2.5s linear, grow 3s ease-in;
    animation-iteration-count: infinite;
}

@keyframes grow {
    100% {
        width: 100%;
    }
}

@keyframes rainbow {
    100%,
    0% {
        background-color: #3a86ff;
    }
    20% {
        background-color: #8338ec;
    }
    40% {
        background-color: #ff006e;
    }
    60% {
        background-color: #fb5607;
    }
    80% {
        background-color: #ffbe0b;
    }
}
